.transaction-history-modal {
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.delete-btn {
    opacity: 0.5;
    background-color: #fff !important;
    border-color: #fff !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5) !important;
    max-height: 40px;
}

.delete-btn:hover {
    opacity: 1;
}

.trash-icon {
    color: red;
}

.transaction-history-card {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
}

.transactionHistory-title {
    color: white !important;
    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(8px) !important;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, 50%);
    padding: 5px;
}

.transaction-history-btn {

}